{% extends 'base.html' %}
{% block title %}关于静网|About jing Wang{% endblock %}
{% load static %}
{% block css %}{% static 'css/post.css' %}{% endblock %}

{% block content %}
<article class="post">
  <header>
    <h1>关于</h1>
  </header>
  <div class="post-content">
    <p>你可以叫我<b>jing Wang</b></p>
    <p>我提供以下技术支持 <br><span class="tag">个人网站架设</span><span class="tag">黑群晖</span><span class="tag">虚拟化</span><span class="tag">软路由</span><br>
    有需要可以通过下面的方式联系我
    </p>

    <h2>联系我</h2>
    <ul class="contact">
      <li><i class="fas fa-envelope"></i><a href="mailto:hi@jingwang.me">hi@jingwang.me</a></li>
      <li><i class="fa-brands fa-telegram"></i><a href="https://t.me/jingwangnet" target="_blnak">jingwangnet</a></li>
      <li><i class="fa-brands fa-weixin"></i>aganzuodejianyi</li>
    </ul>
    <h3>GPG</h3>
    <p>指纹 <code>0630 1761 A039 CD64</code></p>
    <p>公钥 <a href="{% static 'file/jingwangnet.gpg' %}" download="jingwangnet.gpg"><code>jingwangnet.gpg</code></a></p>

  </div>
</article>
{% endblock %}
